body {
	background: black;
	font-family: "Margarine", sans-serif;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 5px;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 5px;
	width: 50%;
}

input {
	border: none;
	border-bottom: 1px solid grey;
	font-family: "Margarine", sans-serif;
}

.postcard-footer {
	text-align: center;
}

p {
	font-size: 14px;
}

button {
	background-color: lightgrey;
	padding: 5px;
	font-family: "Margarine", sans-serif;
}
